@keyframes words-appear {
    0% {color: rgba(255,255,255,0);}
    100% {color: rgba(255,255,255,1); filter: brightness(50%);}
}


/*****************Add new styles below*******************/

.profile-pic {
    height: 150px;
    position: relative;
    transition: .5s;
}

.profile-pic>img{
    height: inherit;
    border-radius: 100px;
    border-style: none solid solid none;
    border-width: 5px;
    border-color: #674ea7;
    transition: .3s;
}

.profile-pic>h3 {
    color: rgba(255,255,255,0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s;
/*    z-index: -1;*/
}

.profile-pic:hover > img {
    filter: brightness(50%);
/*    z-index: -1;*/
/*
    animation: words-appear .2s linear 0s 1 normal;
    animation-fill-mode: forwards;
*/
}

.profile-pic:active {
    background-color: aqua;
}

.profile-pic:hover > h3 {
    color: rgba(255,255,255,1);
}

.img-block {
/*    display: inline;*/
/*    border-style: solid;*/
/*    width: 200px;*/
    text-align: center;
    padding-bottom: 20px;
    
}

.mini-titles {
    text-align: center;
}



/*****************Add new styles above*******************/