/*****************Fonts*******************/

@font-face {
    font-family: bubbleBody;
    src: url(BubblebodyFat.ttf);
}

/*****************Fonts*******************/

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
/*     background-color: #f4f0ffff; */
}

body {
    font-family: 'Comfortaa', cursive;
    max-width: 1000px;
/*    background-color: #f4f0ff;*/
}
body > * {
    background-color: #f4f0ff;
}

.bubbleBody {
    font-family: bubbleBody;
    color: #674ea7 /*light purple #f4f0ffff */ 
}

.navbar {
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    width: 980px;
    z-index: 10000;
    border-width: 5px;
    border-top-color: #674ea7;
}

.navbar>ul {
    list-style-type: none;
    font-size: 20px;
    padding-left: 100px;
    
}

.navbar>ul>div {
    display: inline;  
}

.navbar>ul>div>li {
    display: inline;
    padding: 0px 10px; 
}

.navbar>ul>div>li>a {
    text-decoration: none;
    color: black;
}

.navbar>ul>div>li>a:hover {
    color: #674ea7;
    font-weight: 700;
    transition: 0s;
}

#behindNav {
background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 80%);
    position: fixed;
    width: 980px;
    height: 10vh;
    z-index: 9999;
}

#whiteSpace {
    height: 10px;
    background-color: white;
}
svg {
    background-color: white;
/*    margin-bottom: -300px;*/
/*    z-index: -10000;*/
}

#header {
    text-align: center;
    font-size: 70px;
    position: absolute;
    width: 100%;
    top: 350px;
    left: 0px;
}

a {
    color: #674ea7;
    transition: 0.5s;
    text-decoration: none;
}

a:visited a:active{
    text-decoration: none;
    color: #674ea7;
}

a:hover {
    text-decoration: none;
    color: orange; 
}

.text-block>div>h3>div {
    display: inline;
    padding-left: 10px;
    font-size: 35px;
}

.text-block>div>p {

}

.text-block>div {
    border-style: dotted;
    border-color: rgba(99,81,162,0.5);
    border-radius: 20px; 
    padding: 40px 20px;
}

.text-block {
/*    padding-bottom: 50px;*/
    padding: 20px;
}

footer {
/*    z-index: 1000;*/
    background-color: #E2D8F9; /* mid dark purple */
	color: #4B5766; /* blue grey */
	transition: 1s;
    height: 250px;
    border-style: solid none none none;
    border-width: 5px;
    border-top-color: #674ea7;
    font-weight: 700;
}

footer:hover {
	background-image: linear-gradient(rgba(0,0,0,0), rgba(97,66,163,0.1));
    transition: 1s;
}

footer>div {
    padding: 20px 40px 0px 40px;
}

.footerList>ul {
    list-style-type: none;
}

.footerList>ul>b {
    font-size: 20px;
    color: #674ea7;
    
}

.footerList>ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerList>ul>li>a {
    color: #4B5766;
}

/*****************Add new styles below*******************/

/*****************Add new styles above*******************/



/*****************Responsive sizing*******************/

@media screen and (max-width: 1000px) {
    .navbar {
        width: 780px
    }
    .navbar>ul>div {
        display: inherit;
    }
    .container {
        max-width: 98%;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        text-align: center;
    }
    .navbar>ul>div {
        display: none;
    }
    .container {
        max-width: 700px;
    }
}

/*****************Responsive sizing*******************/