/* theme colors:
#f4f0ff  ==== light-purple
#674ea7  ==== dark-purple
#E2D8F9  ==== mid dark purple
#4B5766  ==== blue grey
*/

.icons {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}
  
  .column {
    flex: 33.33%;
    padding: 5px;
}

#contact {
    
}