@font-face {
    font-family: bubbleBody;
    src: url(BubblebodyFat.ttf);
}

.container {
    max-width: 1000px;
/*     background-color: #f4f0ffff; */
}

body {
    font-family: 'Comfortaa', cursive;
    max-width: 1000px;
    
}
body > * {
    background-color: #f4f0ffff;
}

.bubbleBody {
    font-family: bubbleBody;
    color: #674ea7 /*light purple #f4f0ffff */ 
}

.navbar {
    background-color: white;
    position: fixed;
}

.navbar>ul {
    list-style-type: none;
    font-size: 20px;
    padding-left: 100px;
    
}

.navbar>ul>div>li {
    display: inline;
    padding: 0px 10px; 
}
.navbar>ul>div {
    display: inline; 
}

.jumbotron {
    text-align: center;
}

#mainPic {
    max-width: 500px;
/*    position: fixed;*/
    
}

#aboutPic {
    border-radius: 25px;
    width: 300px;

}


@media screen and (max-width: 1000px) {
    .navbar>ul>div {
        display: inherit;
    }
    .container {
        max-width: 700px;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        text-align: center;
    }
    .navbar>ul>div {
        display: none;
    }
    .container {
        max-width: 500px;
    }
}