/*****************Fonts*******************/

@font-face {
    font-family: bubbleBody;
    src: url(BubblebodyFat.ttf);
}

/*****************Fonts*******************/

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1000px;
/*     background-color: #f4f0ffff; */
}

body {
    font-family: 'Comfortaa', cursive;
    max-width: 1000px;
/*    background-color: #f4f0ff;*/
}
body > * {
    background-color: #f4f0ff;
}

.bubbleBody {
    font-family: bubbleBody;
    color: #674ea7 /*light purple #f4f0ffff */ 
}

.navbar {
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    width: 980px;
    z-index: 10000;
}

#behindNav {
background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(255,255,255,1) 80%);
    position: fixed;
    width: 980px;
    height: 10vh;
    z-index: 9999;
}

.navbar>ul {
    list-style-type: none;
    font-size: 20px;
    padding-left: 100px;
    
}

.navbar>ul>div {
    display: inline;  
}

.navbar>ul>div>li {
    display: inline;
    padding: 0px 10px; 
}

.navbar>ul>div>li>a {
    text-decoration: none;
    color: black;
}

.navbar>ul>div>li>a:hover {
    color: #674ea7;
    font-weight: 700;
}

a {
    color: #674ea7;
    text-decoration: none;
}

a:visited a:active{
    text-decoration: none;
    color: #674ea7;
}

a:hover {
    text-decoration: none;
    color: rgb(206, 178, 224); 
}

#whiteSpace {
    height: 150px;
    background-color: white;
}

svg {
    background-color: white;
    display: block;
}

#jumbo {
    height: 120vh;
}

.jumbotron {
    text-align: center;
}

#main {
    position: absolute;
    top: 200px;
    left: 0px;
    width: 100%;  
    text-align: center;
    
}
#mainPic {
    max-width: 600px;
    transition: .3s;
}

#mainPic:hover {
    max-width: 610px;
    transition: .3s;
}

#jumboText {
/*    padding-top: 100px;*/
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
}

#icons {
    width: 50px;
    height: 50px;
}

p {
    margin-bottom: 0px;
}

.text-block>div>h3>div {
    display: inline;
    padding-left: 10px;
    font-size: 35px;
}
.text-block>div>p {

}

.text-block>div {
    border-style: dotted;
    border-color: rgba(99,81,162,0.5);
    border-radius: 20px; 
    padding: 40px 20px;
}

.text-block {
/*    padding-bottom: 50px;*/
    padding: 20px;
}

footer {
    background-color: #E2D8F9; /* mid dark purple */
	color: #4B5766; /* blue grey */
	transition: 1s;
    height: 250px;
    border-style: solid none none none;
    border-width: 5px;
    border-top-color: #674ea7;
    font-weight: 700;
}

footer:hover {
	background-image: linear-gradient(rgba(0,0,0,0), rgba(97,66,163,0.1));
    transition: 1s;
}

footer>div {
    padding: 20px 40px 0px 40px;
}

.footerList>ul {
    list-style-type: none;
}

.footerList>ul>b {
    font-size: 20px;
    color: #674ea7;
    
}

.footerList>ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerList>ul>li>a {
    color: #4B5766;
}

/* drop down */

 .dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    border-radius: 20px 20px 0px 0px;
  }
  
  .dropdown {
    display: inline;
    border-radius: 40px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 20px 20px 20px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
    display: block;
    border-radius: inherit;
  }
  
  .dropdown-content a:hover {background-color: #f2f2f2; }
  
  .dropdown:hover .dropdown-content {display: block;}
  
<<<<<<< HEAD
  .dropdown:hover .dropbtn {background-color: #ffffff;}

=======
  .dropdown:hover .dropbtn {background-color: rgba(255,255,255, 0.9);}
  
>>>>>>> 69b91a0245e9aabbce5f298b0e1d1c5441899932
/*****************Responsive sizing*******************/

@media screen and (max-width: 1000px) {
    .navbar {
        width: 780px
    }
    .navbar>ul>div {
        display: inherit;
    }
    .container {
        max-width: 98%;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        text-align: center;
    }
    .navbar>ul>div {
        display: none;
    }
    .container {
        max-width: 700px;
    }
}

/*****************Responsive sizing*******************/

